@model HW6.ProductReview

@{
    ViewBag.Title = "Adventure Works | Add a Review";
}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><h1>Add a Review</h1></div>
        <div class="col-md-5"></div>
    </div>
    <br />


    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.ReviewerName, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.ReviewerName, new { htmlAttributes = new { @class = "form-control input-lg" } })<br />
                    @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control input-lg" } })
                    <br />
                    @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label" })
                </div>
                <br /><br />
                <div class="row">
                    @for (int i = 0; i <= 5; i++)
                    {
                        <div class="col-md-1">
                            @Html.RadioButtonFor(model => model.Rating, i, new { htmlAttributes = new { @class = "form-control input-lg", @style = "padding:5px;", @value = i } })<br />
                            @i
                        </div>
                    }
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", @rows = "10" })
                </div>
            </div>
        </div>
            <div class="row">
                <br />
                <div class="col-md-5"></div>
                <div class="col-md-1"><input type="submit" class="btn btn-primary btn-lg" value="Submit" /></div>
                <div class="col-md-5"></div>
            </div>
    }


</div>